/* Site header */
#site_header {
  text-align: center;
  border-bottom: 1px solid darken($color: #ffffff, $amount: 20%);
  padding-bottom: 1rem;

  h1 {
    font-size: $size_title;
    text-transform: uppercase;
    padding: 4rem 0;
  }

  nav {
    a {
      text-decoration: none;
      color: $base_text_color;
      padding: 1rem;
    }
  }
}